# Data Sourcing

## Public and Private Data

Data Sourcing
Select the correct statement from below.


Private data is not available to anyone for use.


Both public and private data can be accessible, but the accessibility of private data needs to be approved by the respective organisation for security and privacy purposes.     ✓ Correct

## Private Data

EDA Application
Consider a case of sales forecasting for a clothing brand, and select the correct options from below. More than one option may be correct.


Based on the data points such as seasons, last year’s weather conditions, electricity tariffs, and holidays, we can predict the sales for this year as well.


Using graphical analysis and statistical methods, we can get an idea of the supply and demand gap in different seasons during a particular year.


The most popular products among customers can be identified through customer reviews and ratings, and focusing more on the most popular products may give yield revenue for the company.


Prices of different clothing items can be revised based on the previous customer responses to a particular variety of clothes.

                   all options are Correct

## Web Scraping-I

HTML Basics
This is a snapshot of the Wikipedia page of Machine Learning. Select the correct option for the highlighted part in the image. You can find the link to this page here.



It is a hyperlink tag.    ✓ Correct

HTML Basics
Select the correct class name of the heading on the Wikipedia page on Machine Learning. You can find the link to this page here.


mw-headline


firstHeading    ✓ Correct

## Web Scraping-II

Web Scraping
You already know that the HTML code has a nested structure. In the IMDB web page, there is a dedicated class which contains the genre of the movie. Dedicated class for the genre of the movie will be nested inside the other classes as well. Can you identify such classes which contain the genre of the movie in the HTML code of IMDB web page? More than one option may be correct.

 

text-muted


genre


lister-item-content


lister-item mode-advanced

                    all are Correct

Web Scraping
Suppose you want to fetch the little description of the movie “Fight Club” that is written just below the rating. What should be the correct code for that?


des = containers[0].findAll("p", {"class": "text-muted"})

print(des.text)


des = containers[3].findAll("p", {"class": "text-muted"})

print(des[1].text)     ✓ Correct

Web Scraping
Suppose you want to fetch the votes for the movie “The Godfather”. What should be the correct code syntax for that?


votes= containers[10].findAll("span", {"name": "nv"})

print(votes[0].text)


votes= containers[9].findAll("span", {"name": "nv"})

print(votes[0].text)     ✓ Correct

# Data Cleaning

## Data Types

Data Type
Let's say there is a column in a dataset which essentially contains numerical values. But its data type is an object, which needs to be rectified and should be converted into int or float type.

Choose the correct command to convert such object type column in a dataframe into integer or float type. More than one option may be correct.


df["feature"]= df["feature"].astype(int)      ✓ Correct

df.["feature"]= df.["feature"].astype(int)

df["feature"]= df["feature"].astype(float)    ✓ Correct

Data Type
Find the average age of the customers in the bank marketing data set.


51


40


50


41    ✓ Correct

## Fixing the Rows and Columns

Data Cleaning
What points should be kept in mind while handling the rows and columns for preparing the data for analysis and to fetch maximum information from it?


Simply remove the columns if you find more than 20% of data in that column as missing. It may reduce the bulkiness of the data set and make it simple to analyse.


Splitting a column into 2 or 3 columns increases the number of variables in the data set. However, one should remember that splitting is not preferred unless you get any unique information.   ✓ Correct

In the bank marketing dataset, you can bucket the data according to age group, for example, <30, 30-40, 40-50, 50-60, >70, It may yield better insights about the responses based on age groups.   ✓ Correct

It is important to have information about the variables or instances, for example, whether they have null values, blank values or invalid values.     ✓ Correct

## Impute/Remove Missing Values

Missing Values
Implement the code in your blank Jupyter notebook and find the exact number of missing values in the response column. Choose the correct option from the below.


30    ✓ Correct

Missing Values
Implement the code in your blank Jupyter notebook and find the percentage of missing values in the response column. Choose the correct option from the below.


1%


0.1%


0.06%    ✓ Correct

Missing Values
What do you think about the treatment of missing values in the response column?


They should not be dropped, as that may affect the data set.


They can be removed because they are very small in number as compared to entries in the dataset.     ✓ Correct

## Handling Outliers

Outliers
Consider the following two statements:

The difference between the maximum value of the balance variable and the 99th percentile is too high.

The difference between the 99th percentile value and the 95th percentile value of the balance variable is in  the normal range, meaning it is not too high.

Based on the above two statements, choose the correct option which concludes that the balance variable has outliers in it.


Both the statement are together sufficient to conclude that it has outliers.     ✓ Correct

Outliers
Which of the following methods can be used to identify the outliers (univariate/multivariate) in the dataset?

Hint : More than one answer can be correct
    
    

Box plot can be used to plot the single variable and find its interquartile range and quantiles.     ✓ Correct

The difference of each point from the mean/median value in the dataset is alone sufficient to identify whether a point is an outlier or not.


Scatter plot can be used to identify the multivariate outliers.           ✓ Correct

Outliers
What is the mean and 75th percentile of the salary variable in bank marketing data set, respectively?

57004, 70000    ✓ Correct

Outliers
After plotting the boxplot, can you write your opinion about the outliers in the salary variable? Are there any outliers in salary?

mera answer: aapko puchna hai to mcq pucho

unko jo sunana hai vo answer:  Once you plot the boxplot, you see that the salary variable does not have any outliers.  All values lies  within the range of 100th percentile always.

## Graded Questions

Data Types
You have “Attribute DataSet” which contains a column named “Price”. Choose the correct option for its data type and variable type.

Object type and categorical ordinal variable    ✓ Correct

Data Types
There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement for its data type and variable type.

Integer type and categorical    ✓ Correct

Data Types
Which of the following columns do you think are of no use in the Attribute DataSet?

None of the above    ✓ Correct

Fixing Rows and Columns
As you can see, there is a column in the Attribute Dataset named 'Size’. This column contains the values in an abbreviated format. Write a code in Python to convert the followings:

M into “Medium”

L into “Large”

XL into “Extra large”

Free into “Free”

S, s and small into “Small”

Now, once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”, respectively?



2.9%, 35.7%, 7.5%     ✓ Correct

Impute/Remove Missing Values
You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now, if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Choose the correct option with the reason for the error and also how to remove this error.


Error occurred because there are string entries in such columns. You should replace these string values with null values and then convert it into float type.   ✓ Correct

Handling Missing Values
When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in Jupyter notebook, you will find that there are some columns in “Dress Sales” data where the number of missing values is more than 40%. Based on your understanding of dealing with missing values, select the most appropriate statement, with the reason.

These columns can be removed because they have a huge number of missing values. Moreover, if you see, the number of sales (numerical values) in such columns is not so high as compared to other Date columns. Hence, it is safe to remove such columns.    ✓ Correct

Handling Missing Values
You need to categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:

June, July and August: Summer.

September, October and November: Autumn.

December, January and February: Winter.

March, April and May: Spring.

Which of the seasons has the lowest sales among all the seasons, and what is its value?


Spring, 143600   ✓ Correct

Missing values handling
You can see that there are two types of variables: one with a large number of missing values and another with very less number of missing values. These two columns can be categorised as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type

Based on your understanding, which is the best method to deal with missing values in Type-1 and Type-2 columns?


You should create a separate category named as Missing category in Type-2 columns and just drop the missing values of Type-1 columns.   ✓ Correct

Standardising Values
In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.


Season, SleeveLength

✓ Correct
Feedback:

# Univariate Analysis

## Categorical Unordered Univariate Analysis

Unordered Categorical Variables
Which of the following options are unordered categorical variables? Choose all correct options.


The blood group of any person, such as A, B, O or AB.     ✓ Correct

Unordered Categorical Variables
Which of the two job categories are the least and the most contacted by the bank respectively?

Student and blue-collar employee    ✓ Correct

## Categorical Ordered Univariate Analysis

Ordered Categorical Variables
You have already worked with ordered categorical variables before - there is a certain order or notion of 'high-low', 'before-after', etc., among the categories. For example, the days of the week (Monday comes before Tuesday), grades of students (A is better than B), number of overs bowled by a bowler (3, 4, 9), etc.

Which of the following are other examples of ordered categorical variables? Choose all correct options.



Dates in a year, e.g., Jan 2, Mar 15, etc.    ✓ Correct

Star rating of a restaurant on Zomato on a scale of 1-5.    ✓ Correct

Ordered Categorical Variables
Suppose you are given a data set containing the salary details of the citizens of a tier-2 city. The salaries are not provided in a numerical format but is given qualitatively, for instance, higher salary, above-average salary, average salary, below average salary and no income. Based on this data, how can you determine the standard of living of the citizens of this city? What steps would you follow in order to dissect this information? Write your answer in the comment box below.

ans:
First, you should plot the histogram of each category of salary, or you can find the count of each salary group in the data set. Once you have done this, you can predict which category has the highest count, and based on that information, you can predict the standard of living of the people in this city. Suppose you find that the maximum count is for the below-average salary category and the second highest is for the average salary category; thus, you can conclude that the standard of living of the city’s residents is not very high.

## Statistics on Numerical Features

Statistics
The table below shows the marks scored (out of 100) in a course exam:

Quantiles	Min	10%	25%	50%	75%	90%	Max
Final Marks	10	48	55	66	78	87	93
Which of the following statements is FALSE? 



The median of class marks is more than 66.    ✓ Correct

About 1/30 of the class received a score of 48 or less.    ✓ Correct

## Graded Questions

Categorical Unordered Univariate Analysis (Multiple Correct Question)
In the ‘Attribute Dataset’, there is a column named ‘Style’, which contains the different style categories of women's apparel. Certain categories whose total sales is less than 50,000 across all the seasons are grouped under a single category named ‘Others’.

Which of the following categories under the ‘Style’ column can be grouped in the ‘Others’ category? Perform the grouping operation in the notebook for further analysis.

(note: this can have multiple correct answers, select all which fulfil the requirement)



Flare, Fashion   ✓ Correct


Novelty, Fashion, Flare    ✓ Correct

Categorical Unordered Univariate Analysis
What is the respective percentage of the 'Cute' and 'Others' categories in the 'Style' column in the 'Attribute Dataset'?


9%, 2.1%   ✓ Correct

Categorical Ordered Univariate Analysis
Which of the following is an unordered variable in the 'Attribute Dataset'?

Style   ✓ Correct

Numerical Variable Univariate Analysis
What is the approximate difference between the maximum value and the 75th percentile in the 'Autumn' column?

Approximately 52,000    ✓ Correct

Numerical Variable Univariate Analysis
Which of the following seasons shows the highest difference between the maximum value and the 99th quantile of sales?

Autumn    ✓ Correct

# Bivariate and Multivariate Analysis

## Numeric - Numeric Analysis

Correlation
Out of the four plots, which has the least correlation coefficient?

Plot-3   ✓ Correct

Correlation
Which of the plots above has very a low correlation coefficient but has some relation between the variables?


Plot-2    ✓ Correct

Correlation
Which of the plots above has a negative correlation?


Plot-4     ✓ Correct

## Numerical - Categorical Analysis

Numerical - Categorical Variable Analysis
Which of the following education levels shows the highest mean and the lowest median value for salary, respectively?

Tertiary and primary     ✓ Correct

Numerical - Categorical Variable Analysis
Here we have the bank marketing data set, which contains the job variable. What inferences can you draw by taking a look at the mean values of salary in each job category? Write your answer in the text box provided below.

ans:
When you calculate the mean value of salary for different job categories, the entrepreneur and management job categories emerge as the highest-paying jobs. The management job category is directly related to a higher education level, and hence, a higher salary is expected for such a job category. The lowest salary group is student, which is again true because they are not employed yet.

## Graded Questions

Numerical - Categorical Bivariate Analysis
Which of the following categories of the 'Price' column has the lowest average rating?

High   ✓ Correct

Numerical - Categorical Bivariate Analysis
What is the median value of rating for the 'vintage' category in the Style column?

4.6    ✓ Correct

Numerical - Categorical Bivariate Analysis
Which of the following seasons shows the highest average value of sales for “Recommendation” value equals to 1.


Autumn    ✓ Correct

Categorical - Categorical Bivariate Analysis
Which of the following size categories has the most positive recommendations?

Free and Medium    ✓ Correct

Multivariate Analysis
Which of the following pair of 'Style' and 'Price' categories has the highest average of positive recommendations?


Price: medium, style: cute    ✓ Correct

Multivariate Analysis
Which of the following material types has no recommendation in summer and winter seasons?


Milksilk and Microfiber     ✓ Correct

In [2]:
import  jovian

In [ ]:
jovian.commit()